@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

*,
*::before,
*::after, {
	box-sizing: border-box;
}
*{
	padding: 0;
	margin: 0;
}

/* --- Animation --- */

@keyframes flicker{
	0%{
		opacity: 0;
	}
	25%{
		opacity: 1;
	}
	50%{
		opacity: 0;
	}
	75%{
		opacity: 1;
	}
	100%{
		opacity: 1;
	}
}
.content img.logo{
	animation-duration: 1s;
	animation-name: flicker;
}

/* --- Animation End --- */

#main-wrapper{
	height: 100vh;
	background: #000000;
}
.content img.logo{
	max-height: 150px;
	width: auto;
}
.content-wrapper{
	height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content{
	padding: 0 25px;
	text-align: center;
}
.content-text p{
	color: #fff;
	font-family: "Questrial", 'Helvetica', 'Arial', sans-serif;
	margin-bottom: 15px;
	font-size: 9pt;
}
@media (min-width: 768px) and (max-width: 1023px){
	.content-text p{
		font-size: 12pt;
	}
}
@media screen and (min-width: 1024px){
	.content-text p{
		font-size: 14pt;
	}
}
